@import '../../scss/vars.scss';

.container {
  padding: 2rem;
  background-color: $primary-white;
  font-family: $main-font;

  .aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .content {
      flex: 1;
      padding: 2rem;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
        color: #333;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.6;
        margin-bottom: 1rem;
        color: #555;
      }
    }

    .imageContainer {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 2rem;

      .aboutImg {
        max-width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }
    }
  }

  .aboutCards {
    display: flex;
    align-items: center;
    gap: 6rem;
    justify-content: center;
  }

  .owners {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;

    .image {
      height: 20rem;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }

    .details {
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .position {
        margin-top: 0rem;
      }

      .socialIcons {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;

        a {
          color: #161111;
          transition: color 0.3s ease;

          &:nth-of-type(1):hover {
            color: #0073b1;
          }

          &:nth-of-type(2):hover {
            color: #e1306c;
          }

          &:nth-of-type(3):hover {
            color: #1da1f2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;

    .aboutContainer {
      display: flex;
      margin-top: -4rem;
    }

    .content {
      padding: 1rem;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .imageContainer {
      flex: none !important;
      justify-content: center;
      padding: 0rem !important;

      .aboutImg {
        display: none;
      }
    }

    .aboutCards {
      min-height: 2rem;
      gap: 0rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .owners {
      flex-direction: column;
      margin-top: 2rem;
      gap: 2rem;

      .image {
        height: 15rem;
      }

      .details {
        align-items: center;
        text-align: center;
      }
    }
  }
}
