@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 2rem;

  .authContainer {
    display: flex;
    align-items: center;
    min-width: 45rem;

    .authImg {
      width: 42rem;
      padding: 2rem;
      min-width: 30rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: $main-font;
      margin: 4rem;

      h1 {
        @include auth-header;
        font-weight: 400;
      }

      p {
        font-size: 1.2rem;
        font-weight: 450;
      }

      .form {
        width: $full-width;

        .input {
          font-size: 1rem;
        }
        .error {
          color: $dark-red;
        }
        .registerButton {
          width: $full-width;
          background-color: $primary-red;
          margin: 1.5rem 0;

          &:hover {
            background-color: $dark-red;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 1rem;

    .authContainer {
      flex-direction: column;

      .authImg {
        width: 25rem;
        padding: 1.5rem;
      }

      .content {
        margin: 0rem;
        align-items: center;
      }
      .registerButton {
        font-size: small;
      }
    }
  }
}
