@mixin auth-image {
  width: 42rem;
  display: flex;
  padding: 2rem;
  min-width: 30rem;
}

@mixin auth-header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@mixin auth-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4rem;
}
