/*Red shades*/
$primary-red: #f70606;
$dark-red: #d32f2f;
$medium-red: #ef4444;
$light-red: #ef6e6e;

/*White shades*/
$primary-white: #ffffff;

/*Font-Family*/
$times-new-roman: 'Times New Roman', Times, serif;

$full-width: 100%;
