@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
$main-font: "Jost", sans-serif;

/*Red shades*/
$primary-red: #f70606;
$error-red:red;
$dark-red: #d32f2f;
$medium-red: #ef4444;
$light-red: #ef6e6e;

/*White shades*/
$primary-white: #ffffff;

/*Black Shades*/
$primary-black:#0c0c0c;
/*Font-Family*/
$times-new-roman: "Times New Roman", Times, serif;

$full-width: 100%;
